.sidebar {
  flex: 1;
  height: calc(100vh - 70px);
  background: var(--blue);
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}
.sidebarWrapper {
  padding: 20px;
  color: var(--white);
}
.sidebarMenu {
  margin-bottom: 20px;
}
.sidebarListItem {
  color: var(--light-blue);
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.sidebarListItem.active, .sidebarListItem:hover {
  color: var(--white);
  background: var(--dark-blue);
}
.sidebarIcon {
  margin-right: 5px;
  font-size: 20px;
}