@use 'styles/_colors.scss';
@tailwind base;
// @tailwind components;
@tailwind utilities;


.container {
  display: flex;
  margin-top: 10px; 
}

.others {
  flex: 4;
  background: darkcyan;
}

.widget {
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    margin: 0 20px;
    padding: 30px;
    border-radius: 10px;
}