@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width:  700px;
  margin: 0 auto;
}
menu {
  display:block;
  margin: 20px auto;
  text-align: center;
}
menu a {
  display: inline-block;
  margin: 0 10px;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-purple {
  @apply bg-purple-700 text-white;

}
.btn-purple:hover {
  @apply bg-purple-800;
}